<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div>
        <ion-title text-center *ngIf="this.userServices.loggedInUser == 'anonymous'">MVO</ion-title>
        <ion-title text-center *ngIf="this.userServices.loggedInUser != 'anonymous'">MVO - {{this.userServices.loggedInUser}}</ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div>
    <p *ngIf="this.userServices.loggedInUser == '' || this.userServices.loggedInUser == 'anonymous'">
      Bem vindo ao sistema de estoque e controle de vendas do Consultor Hinode.
    </p>
    <p *ngIf="this.userServices.loggedInUser == '' || this.userServices.loggedInUser == 'anonymous'">
      Se você já é um consultor cadastrado para a utilização faça LOG IN.
    </p>
    <p *ngIf="this.userServices.loggedInUser == '' || this.userServices.loggedInUser == 'anonymous'">
      <button ion-button block (click)="abreLogin()" color="error">LOG IN</button>
    </p>
    <p *ngIf="this.userServices.loggedInUser == '' || this.userServices.loggedInUser == 'anonymous'">
      Caso tenha interesse no acesso ao aplicativo ou queira ser um consultor Hinode, entre em contato com Rosana Andrade no telefone: 21 99997-1334</p>
  </div>

<div text-center *ngIf=" this.userServices.loggedInUser != '' && this.userServices.loggedInUser != 'anonymous'" >
  <button ion-button round icon-right color="danger" (click)="launchModalMeuscliente()">Meus Clientes
    <ion-icon name="contacts"></ion-icon>
  </button>
  <button ion-button round icon-right color="primary" (click)="abreMeuestoque()">Meus Estoques
    <ion-icon name="albums"></ion-icon>
  </button>
  <button ion-button round icon-right color="dark" (click)="abreProdutos()">Catálogo de Produtos
    <ion-icon name="book"></ion-icon>
  </button>
  <button ion-button round icon-right color="secondary" (click)="abrelistaDesejo()">Lista de Desejos
    <ion-icon name="basket"></ion-icon>
  </button>
  <button ion-button round icon-right color="light" (click)="abreCompartilhar()">Compartilhamento
    <ion-icon name="switch"></ion-icon>
  </button>
</div>

<ion-list *ngFor="let item of lucro">
  <p>Seu lucro até o momento é de: R$ {{ item.SomaDeValorPago / 2 }}</p>
</ion-list>

<div *ngIf="this.userServices.loggedInUser !='anonymous' ; elseBlock">
  <div *ngIf="NomeCliente !=' '">
    <ion-list>
      <p>Últimas compras do cliente: {{NomeCliente}}</p>
        <ion-item text-wrap *ngFor="let item of items" >
          <p>{{ item.CodProduto}}</p>
          <p>Data: {{ item.DataEntrega.substring(0,10) }}</p>
          <p>Valor: R${{ item.ValorPago }} Quantidade:{{ item.Qtd }}  Total: {{ item.ValorPago * item.Qtd}}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>

<!--
<ion-footer>
  <ion-navbar>
    <button ion-button clear (click)="abreEstoquesegmentado()">
        <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-navbar>

</ion-footer>-->
