<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div>
        <ion-title text-center *ngIf="this.userServices.loggedInUser == 'anonymous'">MVO</ion-title>
        <ion-title text-center *ngIf="this.userServices.loggedInUser != 'anonymous'">MVO - {{this.userServices.loggedInUser}}</ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div>
    <p *ngIf="this.userServices.loggedInUser == 'anonymous'">
      Bem vindo ao sistema de estoque e controle de vendas do Consultor Hinode.
    </p>
    <p *ngIf="this.userServices.loggedInUser == 'anonymous'">
      Se você já é um consultor cadastrado para a utilização faça LOG IN.
    </p>
    <p *ngIf="this.userServices.loggedInUser == 'anonymous'">
      <button ion-button block (click)="abreLogin()" color="error">LOG IN</button>
    </p>
  </div>

<!--  <button ion-button (click)="carregaVendas()">Carregar vendas</button> -->
<!--  <ion-list>
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-select [(ngModel)]="usuario">
        <ion-option *ngFor="let item of items" value={{item.firstName}}>{{item.firstName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
-->

<!-- <button ion-button (click)="launchProvider()">next</button>
-->

<div text-center *ngIf="this.userServices.loggedInUser != 'anonymous'">
  <button ion-button round color="danger" (click)="launchModalMeuscliente()">Meus Clientes</button>
  <button ion-button round color="primary" (click)="abreMeuestoque()">Meus Estoques</button>
  <button ion-button round icon-right color="dark" (click)="abreProdutos()">Catálogo de Produtos
    <ion-icon name="cart"></ion-icon>
  </button>
  <button ion-button round icon-right color="secondary" (click)="abrelistaDesejo()">Lista de Desejos
    <ion-icon name="basket"></ion-icon>
  </button>
</div>

<ion-list *ngFor="let item of lucro">
  <p>Seu lucro até o momento é de: R$ {{ item.SomaDeValorPago }}</p>
</ion-list>

<div *ngIf="this.userServices.loggedInUser !='anonymous' ; elseBlock">
  <div *ngIf="NomeCliente !=' '">
    <ion-list>
      <p>Últimas compras do cliente: {{NomeCliente}}</p>
        <ion-item *ngFor="let item of items" >
          <p>{{ item.CodProduto}}</p>
          <p>Data: {{ item.DataEntrega.substring(0,10) }}</p>
          <p>Valor: R${{ item.ValorPago }} Quantidade:{{ item.Qtd }}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>

<!--
<ion-footer>
  <ion-navbar>
    <button ion-button clear (click)="abreEstoquesegmentado()">
        <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-navbar>

</ion-footer>-->
