<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div>
        <ion-title text-center *ngIf="this.userServices.loggedInUser == 'anonymous'">MVO</ion-title>
        <ion-title text-center *ngIf="this.userServices.loggedInUser != 'anonymous'">MVO - {{this.userServices.loggedInUser}}</ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div>
    <p *ngIf="this.userServices.loggedInUser == 'anonymous'">
      Bem vindo ao sistema de estoque e controle de vendas do Consultor Hinode.
    </p>
    <p *ngIf="this.userServices.loggedInUser == 'anonymous'">
      Se você já é um consultor cadastrado para a utilização faça LOG IN.
    </p>
    <p *ngIf="this.userServices.loggedInUser == 'anonymous'">
      <button ion-button block (click)="abreLogin()" color="error">LOG IN</button>
    </p>
  </div>

<!--  <button ion-button (click)="carregaVendas()">Carregar vendas</button> -->
<!--  <ion-list>
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-select [(ngModel)]="usuario">
        <ion-option *ngFor="let item of items" value={{item.firstName}}>{{item.firstName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
-->

<!-- <button ion-button (click)="launchProvider()">next</button>
-->

<p *ngIf="this.userServices.loggedInUser != 'anonymous'">
  Escolha o cliente que voce está trabalhando clicando no botão abaixo:
</p>
<div text-center *ngIf="this.userServices.loggedInUser != 'anonymous'">
  <button ion-button round color="danger" (click)="launchModalMeuscliente()">Meus Clientes</button>
</div>
<div *ngIf="this.userServices.loggedInUser !='anonymous' ; elseBlock">
  <div *ngIf="NomeCliente !=' '">
    <ion-list>
      <p>Últimas compras do cliente: {{NomeCliente}}</p>
        <ion-item *ngFor="let item of items" >
          <p>{{ item.CodProduto}}</p>
          <p>Data: {{ item.DataPagamento }}</p>
          <p>Valor: R${{ item.ValorPago }} Quantidade:{{ item.Qtd }}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <p *ngIf="this.userServices.loggedInUser != 'anonymous'">
    Consulte seu estoque e boas vendas.
  </p>
  <div text-center *ngIf="this.userServices.loggedInUser != 'anonymous'">
    <button ion-button round color="primary" (click)="abreMeuestoque()">Meus Estoques</button>
    <p></p>
  </div>

  <p *ngIf="this.userServices.loggedInUser != 'anonymous'">
    Para consultar todos os produtos Hinode, clique no botão abaixo.
  </p>
  <div text-center *ngIf="this.userServices.loggedInUser != 'anonymous'">
    <button ion-button round icon-right color="dark" (click)="abreProdutos()">Catálogo de Produtos
    <ion-icon name="cart"></ion-icon>
    </button>
    <p></p>
  </div>

  <p *ngIf="this.userServices.loggedInUser != 'anonymous'">Sua lista de desejo pode ser acessada pelo botão:</p>
  <div text-center *ngIf="this.userServices.loggedInUser != 'anonymous'">
    <button ion-button round icon-right color="secondary" (click)="abrelistaDesejo()">Lista de Desejos
    <ion-icon name="cart"></ion-icon>
    </button>
    <p></p>
  </div>

<!--
  <p>Os consultores que voce compartilha seu estoque voce encontra no botão seguinte.</p>
  <div text-center *ngIf="this.userServices.loggedInUser != 'anonymous'">
    <button ion-button round icon-right color="light" (click)="abreCompartilhar()">
      Compartilhamento
    <ion-icon name="share"></ion-icon>
    </button>
  </div>
-->

<!--   <button ion-button block (click)="abreLogin()" color="error">LOG IN</button> -->

</ion-content>

<!--
<ion-footer>
  <ion-navbar>
    <button ion-button clear (click)="abreEstoquesegmentado()">
        <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-navbar>

</ion-footer>-->
